@charset "UTF-8";

header {
    padding-top: 2rem;

    h1 {
        display: inline;
        margin: 0;
    }

    & > div {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 768px) {
        & > div {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}

.logo {

    img {
        max-width: 39rem;
    }
}
