@charset "UTF-8";

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h1,
h2 {
    span {
        display: block;
        margin-top: 1rem;
        font-weight: normal;
    }
}

h1 {
    span {
        margin-top: 2px;
    }
}
