@charset "UTF-8";

h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.6rem;
    text-transform: uppercase;

    span {
        display: block;
        margin-top: 1rem;
        font-weight: normal;
    }
}
