@charset "UTF-8";

/* --- Nav --- */
.main-nav {
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-bottom: 1px dotted $default-color;

    a {
        text-decoration: none;

        &:hover
        &.selected {
            text-decoration: underline;
        }
    }
}
