{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}

		{{ page.content }}
		<div>
			<div id="listing">
				{% for child in collection %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
