{% embed 'partials/base.html.twig' %}

	{% block content %}

		<div class="blog-content-item ">
			<article id="item">
			    {% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</article>
		</div>
	{% endblock %}

{% endembed %}
