@charset "UTF-8";

.blog-list {
    align-items: flex-start;

    .blog-item {
        padding: 1rem;
        border: 1px dotted transparent;

        &:hover {
            border-color: $red;
        }
    }
}
