{% block footer %}
<footer class="grid-4">
    <div>

    </div>
    <div>

    </div>
    <div>
        <a href="{{ base_url_absolute }}/reseau">Réseau</a>
        <a href="{{ base_url_absolute }}/archives">Archives</a>
    </div>
    <div>
        <a href="{{ base_url_absolute }}/mentions-legales">Mentions légales</a>
        <a href="{{ base_url_absolute }}/plan-du-site">Plan du site</a>
    </div>
</footer>
{% endblock %}
